@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

*, *::before
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

a {
	font-weight: 700;
  	text-decoration: none;
  	text-transform: uppercase;
  	position: relative;
  	color: #333;
  	padding: 10px 0px;
  	letter-spacing: 1px;
  	font-size: 12.5px;
}


.topSection {
	height: 75%;
	background-image: url(../images/beverage-caffeine-coffee-cup-606542.jpg);
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.topTitle {
	font-family: 'Bebas Neue', cursive;
	font-size: 100px;
	text-decoration: underline;
	color: white;
	text-shadow: 1px 1px 2px #000;
}

.subOne {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 2rem;

}

.subOneTitle {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
}

.subText {
	font-size: 18px;
	max-width: 1100px;


}

.subGrid {
	margin: auto;
	overflow: auto;
	padding: 2rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	margin-bottom: 2rem;
}

.rmLink {
	color: black;
}

.rmLink:hover {
	color: black;
}

.textTitle {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
}

.text {
	text-align: center;
}

.customBtn {
	background-color: #333;
	padding: .8rem 1.8rem;
	color: white;
	margin-top: 2rem;
	cursor: pointer;
	border: none;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
}

.customBtn:hover {
	background-color: #000;
}

img {
	width: 100%;
}


.modal {
  	display: none; /* Hidden by default */
  	position: fixed; /* Stay in place */
  	z-index: 1; /* Sit on top */
  	left: 0;
  	top: 0;
  	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: auto; /* Enable scroll if needed */
  	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*.modal-two {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,.4);
	display: flex;
	justify-content: center;
	align-items: center;
}*/

.previous {
	left: 1rem;
}

.span-style {
	color: #333;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	top: 1rem;
	text-align: center;
	cursor: pointer;
}

.next {
	right: 1rem;
	display: none;
}

.modal-two-content {
	display: none;
	width: 25%;
  	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.formStyle {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5rem 0;
	border-radius: 1rem;
	text-align: left;
	font-family: 'Oswald', sans-serif;
}

.contact-btn {
	padding: 5px 1rem;
	background-color: transparent;
	border: 2px solid #333;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}

.contact-btn:hover {
	background-color: #333;
	color: #fff;
}

/*calendar styling*/

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	padding: 0;
}

.my-container {
	font: 87.5%/1.5em 'Lato', sans-serif;
	margin: 0;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.calendar-container {
	position: relative;
	width: 510px;
}

.calendar-container header {
	border-radius: 1em 1em 0 0;
	background: #e66b6b;
	color: #fff;
	padding: 3em 2em;
}

.day {
	font-size: 8em;
	font-weight: 900;
	line-height: 1em;
}

.month {
	font-size: 4em;
	line-height: 1em;
}

.timePicker {
	position: absolute;
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	padding: 5px 1rem;
	font-family: 'Oswald', sans-serif;
	display: none;
}

.timePicker:hover {
	background-color: #fff;
	color: #333;
	cursor: pointer;
}

.nine {
	top: 4rem;
	right: 8rem;
}

.ten {
	top: 7rem;
	right: 8rem;
}

.eleven {
	top: 10rem;
	right: 8rem;
}

.three {
	top: 4rem;
	right: 2rem;
}

.four {
	top: 7rem;
	right: 2rem;
}

.five {
	top: 10rem;
	right: 2rem;
}


.clicked {
	background-color: #fff;
	color: #000;
}

.myBtn-1 {
	position: absolute;
	right: 9em;
	border: 2px solid #fff;
	background-color: transparent;
	padding: .5rem 10px;
	color: white;
	font-weight: bold;
	
}

.myBtn-2 {
	font-weight: bold;
	color: white;
	position: absolute;
	right: 2em;
	border: 2px solid #fff;
	background-color: transparent;
	padding: .5rem 10px .5rem 15px;
}

.calendar {
	background: #fff;
	border-radius: 0 0 1em 1em;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	color: #555;
	display: inline-block;
	padding: 2em;
}

.calendar thead {
	color: #e66b6b;
	font-weight: 700;
	text-transform: uppercase;
}

.calendar td {
	padding: .5em 1em;
	text-align: center;
}

.calendar tbody td:hover {
	background: #cacaca;
	color: #fff;
	cursor: pointer;
}

.active {
	background-color: #f1f1f1;
	color: #FF0000;
}

.selected {
	background-color: #fff;
	color: #333;
}

.current-day {
	color: #e66b6b;
}

.prev-month,
.next-month {
	color: #cacaca;
}

.ring-left,
.ring-right {
	position: absolute;
	top: 230px;
}

.ring-left { left: 2em; }
.ring-right { right: 2em; }

.ring-left:before,
.ring-left:after,
.ring-right:before,
.ring-right:after {
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	content: "";
	display: inline-block;
	margin: 8px;
	height: 32px;
	width: 8px;
}
/*end of calendar styling*/

.subDivider {
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../images/photo-of-person-s-open-hands-2258248.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;	
}

.dividerTitle {
	font-family: 'Oswald', sans-serif;
	font-size: 70px;
	text-transform: uppercase;
	color: white;
}

.subTwo {
	padding: 100px 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sect {
	max-width: 1100px;
	font-size: 18px;
}

.textTitle {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
}

.cardContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	padding: 100px 2rem;
	text-align: center;
}

.card-1 {
	flex: .25;
	padding: 50px 2rem;
	background-color: #f1f1f1;
}

.card-2 {
	flex: .25;
	padding: 50px 2rem;
}

.card-3 {
	flex: .25;
	padding: 50px 2rem;
	background-color: #f1f1f1;
}

.cardTitle {
	font-family: 'Comic Neue', cursive;
	font-size: 30px;
	text-transform: uppercase;
}

.cardText {
}

.cardBtn {
	padding: 10px 2rem;
	background-color: transparent;
	border: 2px solid #000;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	margin-top: 30px;
}

.cardBtn:hover {
	background-color: #000;
	color: white;
}

.footerDiv {
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 12px;

}

p a {
  color: white;
  font-size: 12px;
}

p a:hover {
  color: white;
}

@media only screen and (max-width: 1530px) {
	.modal-two-content {
		width: 40%;
	}
}

@media only screen and (max-width: 970px) {
	.subGrid, .cardContainer {
		display: block;
	}

	.text {
		padding-top: 30px;
	}
}

@media only screen and (max-width: 935px) {
	.modal-two-content {
		width: 50%;
	}
}

@media only screen and (max-width: 750px) {
	.modal-two-content {
		width: 70%;
	}
}

@media only screen and (max-width: 660px) {
	.topTitle {
		font-size: 80px;
	}

	.calendar-container {
		width: 400px;
	}

	.calendar {
		padding: 1em
	}

	.calendar td {
		padding: .5em .65em;
	}
}

@media only screen and (max-width: 520px) {
	.topTitle {
		font-size: 60px;
	}

	.subOneTitle {
		font-size: 30px;
	}

	.modal-two-content {
		width: 100%;
	}
}

@media only screen and (max-width: 390px) {
	.topTitle {
		font-size: 50px;
	}

	.subOneTitle {
		font-size: 
	}
}